{:exoscale.project/lib          com.exoscale/quali
 :exoscale.project/version-file "VERSION"
 :exoscale.project/deploy?      true

 :paths ["src"]
 :deps  {org.clojure/clojure                 {:mvn/version "1.11.1"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :aliases
 {:test
  {:main-opts   ["-m" "kaocha.runner"]
   :extra-paths ["test"]
   :extra-deps  {org.clojure/test.check   {:mvn/version "1.1.1"}
                 lambdaisland/kaocha      {:mvn/version "1.84.1335"}
                 lambdaisland/kaocha-cljs {:mvn/version "1.5.154"}}}
  :outdated
  {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :project
  {:deps       {io.github.exoscale/tools.project
                {:git/sha "12c13460aaa27b7bfad8d965f0230b83a3eeb79f"}}
   :ns-default exoscale.tools.project}}

 :slipset.deps-deploy/exec-args {:installer      :remote
                                 :sign-releases? false
                                 :repository     "clojars"}}
